openejb2/modules/openejb-builder/src/main/xsd/openejb-jar-2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  * Licensed to the Apache Software Foundation (ASF) under one or more
  * contributor license agreements.  See the NOTICE file distributed with
  * this work for additional information regarding copyright ownership.
  * The ASF licenses this file to You under the Apache License, Version 2.0
  * (the "License"); you may not use this file except in compliance with
  * the License.  You may obtain a copy of the License at
  *
  *     http://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
  */
-->

<xs:schema
    xmlns:openejb="http://openejb.apache.org/xml/ns/openejb-jar-2.2"
    targetNamespace="http://openejb.apache.org/xml/ns/openejb-jar-2.2"
    xmlns:naming="http://geronimo.apache.org/xml/ns/naming-1.2"
    xmlns:app="http://geronimo.apache.org/xml/ns/j2ee/application-1.2"
    xmlns:sys="http://geronimo.apache.org/xml/ns/deployment-1.2"
    xmlns:pkgen="http://openejb.apache.org/xml/ns/pkgen-2.1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.0">

    <xs:import namespace="http://geronimo.apache.org/xml/ns/naming-1.2" schemaLocation="geronimo-naming-1.2.xsd"/>
    <!--<xs:import namespace="http://geronimo.apache.org/xml/ns/security-1.2" schemaLocation="geronimo-security-1.2.xsd"/>-->
    <xs:import namespace="http://geronimo.apache.org/xml/ns/j2ee/application-1.2" schemaLocation="geronimo-application-1.2.xsd"/>
    <xs:import namespace="http://geronimo.apache.org/xml/ns/deployment-1.2" schemaLocation="geronimo-module-1.2.xsd"/>
    <xs:import namespace="http://openejb.apache.org/xml/ns/pkgen-2.1" schemaLocation="openejb-pkgen-2.1.xsd"/>

    <xs:element name="openejb-jar" type="openejb:openejb-jarType"/>

    <xs:complexType name="emptyType"/>

    <xs:complexType name="openejb-jarType">
        <xs:sequence>
            <xs:element ref="sys:environment" minOccurs="0"/>

            <!-- use a ref to put this element in the naming namespace rather than openejb namespace-->
            <xs:element ref="naming:cmp-connection-factory" minOccurs="0"/>
            <xs:element name="ejb-ql-compiler-factory" type="xs:string" minOccurs="0"/>
            <xs:element name="db-syntax-factory" type="xs:string" minOccurs="0"/>
            <xs:element name="enforce-foreign-key-constraints" type="openejb:emptyType" minOccurs="0"/>

            <xs:element name="enterprise-beans">
                <xs:complexType>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="session" type="openejb:session-beanType"/>
                        <xs:element name="entity" type="openejb:entity-beanType"/>
                        <xs:element name="message-driven" type="openejb:message-driven-beanType"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>

            <xs:element name="relationships" type="openejb:relationshipsType" minOccurs="0">
                <xs:unique name="relationship-name-uniqueness">
                    <xs:selector xpath="openejb:ejb-relation"/>
                    <xs:field xpath="openejb:ejb-relation-name"/>
                </xs:unique>
            </xs:element>

            <xs:element ref="naming:message-destination" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element ref="app:security" minOccurs="0"/>
            <xs:element ref="sys:service" minOccurs="0" maxOccurs="unbounded"/>
            <!--<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>-->
        </xs:sequence>
    </xs:complexType>

    <!-- session bean section-->
    <xs:complexType name="session-beanType">
        <xs:sequence>
            <xs:element name="ejb-name" type="xs:string"/>
            <xs:element name="jndi-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="local-jndi-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="openejb:tssGroup" minOccurs="0"/>

            <xs:group ref="naming:jndiEnvironmentRefsGroup"/>
            <xs:element name="web-service-address" type="xs:string" minOccurs="0"/>
            <xs:element name="web-service-virtual-host" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="web-service-security" type="openejb:web-service-securityType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>

    <xs:group name="tssGroup">
        <xs:sequence>
            <xs:choice>
                <xs:element name="tss-link" type="xs:string"/>
                <xs:element name="tss" type="naming:patternType"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="tssType">
        <xs:sequence>
            <!-- this is object name group from geronimo-naming.xsd -->
            <xs:element name="domain" type="xs:string" minOccurs="0"/>
            <xs:element name="server" type="xs:string" minOccurs="0"/>
            <xs:element name="application" type="xs:string" minOccurs="0"/>
            <xs:element name="module" type="xs:string" minOccurs="0"/>
            <!--            <xs:element name="type" type="xs:string" minOccurs="0"/>-->
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="web-service-securityType">
        <xs:sequence>
            <xs:element name="security-realm-name" type="xs:string"/>
            <xs:element name="realm-name" type="xs:string" minOccurs="0"/>
            <xs:element name="transport-guarantee" type="openejb:transport-guaranteeType"/>
            <xs:element name="auth-method" type="openejb:auth-methodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="transport-guaranteeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="INTEGRAL"/>
            <xs:enumeration value="CONFIDENTIAL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="auth-methodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BASIC"/>
            <xs:enumeration value="DIGEST"/>
            <xs:enumeration value="CLIENT-CERT"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>

    <!--entity bean section -->
    <xs:complexType name="entity-beanType">
        <xs:sequence>
            <xs:element name="ejb-name" type="xs:string"/>
            <xs:element name="jndi-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="local-jndi-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="openejb:tssGroup" minOccurs="0"/>

            <xs:sequence minOccurs="0">
                <xs:element name="table-name" type="xs:string"/>
                <xs:element name="static-sql" type="openejb:emptyType" minOccurs="0"/>
                <xs:element name="cmp-field-mapping" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cmp-field-name" type="xs:string"/>
                            <xs:element name="cmp-field-class" type="xs:string" minOccurs="0"/>
                            <xs:element name="table-column" type="xs:string"/>
                            <xs:element name="sql-type" type="xs:string" minOccurs="0"/>
                            <xs:element name="type-converter" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="primkey-field" type="xs:string" minOccurs="0"/>
                <xs:element ref="pkgen:key-generator" minOccurs="0"/>
                <xs:element name="prefetch-group" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="group" minOccurs="0" maxOccurs="unbounded"
                                type="openejb:groupType"/>
                            <xs:element name="entity-group-mapping" minOccurs="0"
                                type="openejb:entity-group-mappingType"/>
                            <xs:element name="cmp-field-group-mapping" minOccurs="0" maxOccurs="unbounded"
                                type="openejb:cmp-field-group-mappingType"/>
                            <xs:element name="cmr-field-group-mapping" minOccurs="0" maxOccurs="unbounded"
                                type="openejb:cmr-field-group-mappingType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>

            <xs:element name="cache" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="isolation-level">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="read-uncommitted"/>
                                    <xs:enumeration value="read-committed"/>
                                    <xs:enumeration value="repeatable-read"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="size" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:group ref="naming:jndiEnvironmentRefsGroup"/>

            <xs:element name="query" type="openejb:queryType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>

    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element name="group-name" type="xs:string"/>
            <xs:element name="cmp-field-name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cmr-field" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cmr-field-name" type="xs:string"/>
                        <xs:element name="group-name" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="entity-group-mappingType">
        <xs:sequence>
            <xs:element name="group-name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cmp-field-group-mappingType">
        <xs:sequence>
            <xs:element name="group-name" type="xs:string"/>
            <xs:element name="cmp-field-name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cmr-field-group-mappingType">
        <xs:sequence>
            <xs:element name="group-name" type="xs:string"/>
            <xs:element name="cmr-field-name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="queryType">
        <xs:sequence>
            <xs:element name="query-method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="method-name" type="xs:string"/>
                        <xs:element name="method-params">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="method-param" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="result-type-mapping" minOccurs="0" type="xs:string"/>
            <xs:element name="ejb-ql" type="xs:string" minOccurs="0"/>
            <xs:element name="no-cache-flush" minOccurs="0"/>
            <xs:element name="group-name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="relationshipsType">
        <xs:sequence>
            <xs:element name="ejb-relation" type="openejb:ejb-relationType" maxOccurs="unbounded">
                <xs:unique name="role-name-uniqueness">
                    <xs:selector xpath=".//openejb:ejb-relationship-role-name"/>
                    <xs:field xpath="."/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ejb-relationType">
        <xs:sequence>
            <xs:element name="ejb-relation-name" type="xs:string" minOccurs="0"/>
            <xs:element name="many-to-many-table-name" type="xs:string" minOccurs="0"/>
            <xs:element name="ejb-relationship-role" type="openejb:ejb-relationship-roleType" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ejb-relationship-roleType">
        <xs:sequence>
            <xs:element name="ejb-relationship-role-name" type="xs:string" minOccurs="0"/>
            <xs:element name="relationship-role-source">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ejb-name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cmr-field" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cmr-field-name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="foreign-key-column-on-source" minOccurs="0"/>
            <xs:element name="role-mapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cmr-field-mapping" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="key-column" type="xs:string"/>
                                    <xs:element name="foreign-key-column" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!--message driven bean section-->
    <xs:complexType name="message-driven-beanType">
        <xs:sequence>
            <xs:element name="ejb-name" type="xs:string"/>
            <xs:element ref="naming:resource-adapter"/>
            <xs:element name="activation-config"
                type="openejb:activation-configType"
                minOccurs="0"/>

            <xs:group ref="naming:jndiEnvironmentRefsGroup"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>

    <xs:complexType name="activation-configType">
        <xs:sequence>
            <xs:element name="description"
                type="xs:string"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="activation-config-property"
                type="openejb:activation-config-propertyType"
                maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activation-config-propertyType">
        <xs:sequence>
            <xs:element name="activation-config-property-name"
                type="xs:string">
            </xs:element>
            <xs:element name="activation-config-property-value"
                type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
